html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

.jumbotron{
    margin-bottom: 0;
}

nav img{
    width: 50px;
    height: auto;
}

main{
    /*margin-top: 30px;
    padding-top: 30px;*/
    background-color: rgb(218, 218, 218);
}

.fakeimg {
    height: 200px;
    background: rgb(221, 221, 221);
}

.fakeimg1 {
    width: 300px;
    height: auto;
    background: #aaa;
}

footer{
    margin-bottom: 0;
}

@media (min-width: 350px) {
    nav img{
        width: 6vw;
        height: auto;
    }

    .fakeimg1 {
        width: 300px;
        height: auto;
        background: #aaa;
    }
}

@media (min-width: 1000px) {
    nav img{
        width: 3vw;
        height: auto;
    }
}

